@page "/"

<PageTitle>Elegoo Centauri Carbon</PageTitle>

<div class="card">
    <div class="card-header">
        Elegoo Centauri Carbon <span class="alert alert-info alert-short">Idle...</span>
    </div>

    <div class="card-body">
        @if (_currentPrinterStatus != null)
        {
            <PrintProgress PrinterBaseUrl="@PrinterService.PrinterUrl" Status="_currentPrinterStatus.PrintInfo" />

            <hr>

            <PrinterTemperatures PrinterStatus="_currentPrinterStatus" />
        }
        else
        {
            <span class="alert alert-warning">No status response is available from the printer yet...</span>
        }
    </div>
</div>

