@page "/"

<PageTitle>Elegoo Centauri Carbon</PageTitle>

@if (_currentPrinterStatus?.PrintInfo != null)
{
    <div class="card">
        <PrintProgress Status="_currentPrinterStatus.PrintInfo" />
    </div>
}
else
{
    <span class="alert alert-warning">No status response is available from the printer yet...</span>
}