@page "/"

<PageTitle>Elegoo Centauri Carbon</PageTitle>

@if (_currentPrinterStatus != null)
{
    <div class="card my-3">
        <div class="card-body">
            <PrintProgress PrinterBaseUrl="@PrinterService.PrinterUrl" Status="_currentPrinterStatus.PrintInfo" />
        </div>
    </div>

    <div class="card my-3">
        <div class="card-body">
            <PrinterTemperatures PrinterStatus="_currentPrinterStatus" />
        </div>
    </div>
}
else
{
    <span class="alert alert-warning">No status response is available from the printer yet...</span>
}
